body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url('image/Successquote.jpg');
    background-repeat: no-repeat;
    background-size: 100% 145%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    margin-bottom: 20px;
}

form input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 8px;
}

li.completed {
    text-decoration: line-through;
    background-color: #e0e0e0;
}

#reset-button{
    display: block;
    margin: auto;
    padding: auto;
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    color: white;
    
}